.webpage,
.container-image {
    height: auto;
    max-width: 100%;
}

.theme-screengrabs {
    width: 900px;
}

.imac-container {
	width: 100%;
	position: relative;
}

.iphone-container {
	max-width: 200px;
	position: relative;
	margin-top: -460px;
	float: right;
	margin-right: 60px;
}

.imac-container .imac-screengrab {
	height: 66.6%;
	width: 91.92%;
	top: 5.4%;
	left: 4.04%;
	position: absolute;
	overflow-y: scroll;
}

.iphone-container .iphone-screengrab {
	height: 71.65%;
	width: 84%;
	top: 14.76%;
	left: 8%;
	position: absolute;
	overflow-y: scroll;
}
